{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'logo.png' %}" />
    <link rel="stylesheet" href="{% static 'Products.css' %}"/>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <title>Products</title>
</head>
<body>
    <section>
       <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
            <a href="https://www.cognitivecreators.com/" class="navbar-brand mb-0 mt-0 h1">
                <img class="d-inline-block align-top mt-0 ms-3" src="{% static 'logo.png' %}" alt="navbar logo" width="70" height="70">
            </a>
            <h3 class="text-secondary">Welcome, {{ request.user.first_name|add:" "|add:request.user.last_name }}!</h3>
            <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler me-3">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse inline my-2 my-lg-0" id="navbarNav">
                <ul class="navbar-nav nav-tabs ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="#" class="nav-link disabled h4">
                           Favourites
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link h4">
                            Cart
                        </a>
                    </li>  
                    <li class="nav-item">
                        <a href="{% url 'Logout' %}" class="nav-link h4">Logout</a>
                    </li>  
                </ul>
            </div>
       </nav>

       <div class="container">
        <form action="Categoryfilter" method="GET">
           <div class="row justify-content-around">
                {% for category in  categories %}
                <div class="col-md-1 col-sm-3"><button class="btn btn-primary btn-lg btn-block m-3 p-3" type="submit" name="category" value="{{ category.id }}">{{ category.name }}</button> </div>
                {% endfor %} 
           </div>
        </form>
       </div>

       <div class="container">
           <div class="row justify-content-around">
                <div class="col-md-2 border bg-secondary">
                    <h3 class="border bg-success ">{{ category }}</h3>
                    <h4>Filter by brand</h4>
                    <form action="Brandfilter" method="GET">
                        {% for brand in  brands %}
                        <div class="row p-3 m-1"><button class="btn btn-light btn-block" type="submit" name="brand" value='{{ brand.id }}'>{{ brand.name }}</button></div>
                        {% endfor %}
                    </form>
                </div>
                <div class="col-md-9 border bg-secondary p-3 m-1">
                    <div class="row justify-content-center">
                        {% for product in products %}
                                <div class="col border p-3 m-1">
                                <img src="{{product.img.url}}" alt="" height="200">
                                <h2> {{product.name}}</h2> 
                                <h3> {{product.size}}</h3>
                                <h3>In stock:{{product.onstock}}</h3>
                                {% ifnotequal product.onstock 0 %}
                                <form action="addtocart" method="POST">
                                    {% csrf_token %}
                                    <label for="quantity">Quantity (between 1 and {{product.onstock}}):</label>
                                    <input type="number" id="quantity" name="quantity" min="1" max="{{product.onstock}}" value="1">
                                    <input type="hidden" id="productID" name="productID" value="{{product.id}}">
                                    <button type="submit" class="btn btn-success">Add to cart</button>
                                </form>
                                {% else %}
                                <h3 class="text-danger">This item is currently not in stock!</h3>
                                {% endifnotequal %}
                                </div>
                        {% if forloop.counter|divisibleby:4 %}
                            </div>
                            <div class="row justify-content-center">
                        {% endif %}
                        {% empty %}
                            <h1>There are no available products in this category!</h1>
                        {% endfor %}    
                    </div>
                </div>
            </div>
       </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>